<footer id="footer" class="site-footer">
  <div class="container">
    <!-- Primeira linha: Informações de contato e mapa -->
    <div class="row">
      <!-- Informações de contato -->
      <div class="col-12 col-lg-6 mb-5">
        <h6><i class="bi bi-geo-alt-fill"></i> Address</h6>
        <p>
          Operations Research and Complex Systems Lab.<br />
          Room 1214, Department of Electrical Engineering<br />
          School of Engineering, UFMG, Av. Pres. Antônio Carlos 6627<br />
          31275-013 - Belo Horizonte, Brazil
        </p>
        <h6 class="mt-5"><i class="bi bi-telephone-fill"></i> Phone</h6>
        <p>+55 31 3409-3550</p>
      </div>

      <!-- Mapa -->
      <div class="col-12 col-lg-6 mb-5">
        <iframe
          width="100%"
          height="300"
          src="https://maps.google.com/maps?q=School%20of%20Engineering,%20UFMG,%20Brazil&t=&z=15&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
    </div>

    <!-- Segunda linha: Direitos autorais e redes sociais -->
    <div class="d-flex justify-content-between border-top text-muted">
      <div>
        <p>
          &copy; 2022 Operations Research and Complex Systems Lab. All rights
          reserved. <br />
          We are part of the
          <a href="https://www.eng.ufmg.br/">School of Engineering</a> at
          <a href="https://ufmg.br/"
            >Universidade Federal de Minas Gerais (UFMG)</a
          >.
        </p>
      </div>

      <!-- Links para redes sociais -->
      <ul class="list-unstyled d-flex">
        <li>
          <a href="https://github.com/your-profile" target="_blank"
            ><i class="bi bi-github"></i
          ></a>
        </li>
        <li>
          <a href="https://linkedin.com/in/your-profile" target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://researchgate.net/your-profile" target="_blank"
            ><i class="bi bi-mortarboard-fill"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
