<header class="site-header">
  <div class="container">
    <img src="/assets/images/orcs.jpeg" alt="ORCS Lab" />
    <nav>
      <ul>
        <li><a href="/Site-ORCS-LAB/">Home</a></li>
        <!-- Mudar para o site do orcs -->
        <li><a href="/Site-ORCS-LAB/about/">Sobre</a></li>
        <!-- Mudar para o site do orcs -->
        <li><a href="/Site-ORCS-LAB/research/">Pesquisa</a></li>
        <!-- Mudar para o site do orcs -->
        <li><a href="/Site-ORCS-LAB/contact/">Contato</a></li>
        <!-- Mudar para o site do orcs -->
      </ul>
    </nav>
  </div>
</header>
