<header class="site-header">
  <div class="container">
    <div class="logo-menu-wrapper">
      <a href="/Site-ORCS-LAB/">
        <img
          src="/assets/images/orcs_logo.png"
          alt="Logo ORCS Lab"
          class="site-logo"
        />
      </a>
      <nav>
        <ul>
          <li><a href="/Site-ORCS-LAB/">Home</a></li>
          <li><a href="/Site-ORCS-LAB/quemsomos/">Quem Somos</a></li>
          <li><a href="/Site-ORCS-LAB/equipe/">Equipe</a></li>
          <li><a href="/Site-ORCS-LAB/estrutura/">Estrutura</a></li>
          <li><a href="/Site-ORCS-LAB/clientes-e-parceiros/">Apoiadores</a></li>
          <li><a href="/Site-ORCS-LAB/servicos/">Serviços</a></li>
          <li>
            <a href="/Site-ORCS-LAB/acontece/">Acontece</a>
            <ul class="submenu">
              <li><a href="/Site-ORCS-LAB/noticias/">Notícias</a></li>
              <li><a href="/Site-ORCS-LAB/trabalhos/">Trabalhos</a></li>
            </ul>
          </li>
          <li><a href="/Site-ORCS-LAB/contato/">Contato</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
