<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}" />

    <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" />

    <link
      rel="stylesheet"
      href="{{ '/assets/css/bootstrap.min.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css"
      integrity="sha384-7ynz3n3tAGNUYFZD3cWe5PDcE36xj85vyFkawcF6tIwxvIecqKvfwLiaFdizhPpN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/custom.css' | relative_url }}"
    />
  </head>

  <body>
    {% include header.html %}

    <nav
      id="navbar"
      class="navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom shadow-sm"
    >
      <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}"
          >{{ site.title }}</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% for item in site.data.navbar %} {% if page.url == item.url %}
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ item.url | relative_url }}"
                >{{ item.title }}</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url | relative_url }}"
                >{{ item.title }}</a
              >
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <main id="main-content" class="my-4">{{ content }}</main>

    {% include footer.html %}

    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
  </body>
</html>
